In [19]:
import json
import pandas as pd

In [20]:
bdong_filtered = pd.read_csv("./data/preproc_data/bdong_filtered.csv")
bdong_filtered_concated = pd.read_csv("./data/preproc_data/bdong_filtered_concated.csv")

hdong_filtered = pd.read_csv("./data/preproc_data/hdong_filtered.csv")
hdong_filtered_concated = pd.read_csv("./data/preproc_data/hdong_filtered_concated.csv")

In [21]:
print("법정동 필터된 데이터")
display(bdong_filtered.sample(5))
print("행정동 필터된 데이터")
display(hdong_filtered.sample(5))
print("법정동 필터 후 합친 데이터")
display(bdong_filtered_concated.sample(5))
print("법정동 필터 후 합친 데이터")
display(hdong_filtered_concated.sample(5))

법정동 필터된 데이터

      시도코드    시도명  시군구코드 시군구명       법정동코드 읍면동명  동리명      생성일자  말소일자
3966    41    경기도  41650  포천시  4165041021  화현면  화현리  20031019   NaN
1075    27  대구광역시  27720  군위군  2772025022  군위읍  서부리  20230701   NaN
1809    30  대전광역시  30200  유성구  3020013400  자운동  NaN  19950101   NaN
5049    43   충청북도  43150  제천시  4315033030  수산면  다불리  19950101   NaN
3085    41    경기도  41480  파주시  4148040024  진동면  서곡리  19960301   NaN

행정동 필터된 데이터

      시도코드    시도명  시군구코드 시군구명       행정동코드      읍면동명      생성일자  말소일자
2652    46   전라남도  46890  완도군  4689035500  청산면모도출장소  19880423   NaN
329     11  서울특별시  11590  동작구  1159055000     상도제3동  19880423   NaN
1502    41    경기도  41220  평택시  4122000000       NaN  19950510   NaN
842     28  인천광역시  28110   중구  2811057000       율목동  19950101   NaN
2399    46   전라남도  46130  여수시  4613082000       삼일동  19980401   NaN

법정동 필터 후 합친 데이터

                      법정동명       법정동코드
13622     경상북도_영양군_석보면_택전리  4776035038
8521          전라남도_여수시_삼산면  4613036000
3292       경기도_안성시_보개면_곡천리  4155031032
19581  전북특별자치도_김제시_봉남면_평사리  5221043022
15786     경상남도_의령군_부림면_대곡리  4872039027

법정동 필터 후 합친 데이터

                 행정동명       행정동코드
575   부산광역시_해운대구_좌제1동  2635055100
7       서울특별시_종로구_무악동  1111057000
789    대구광역시_수성구_고산2동  2726068000
3265     경상남도_의령군_봉수면  4872040000
887    인천광역시_연수구_옥련1동  2818563000

In [22]:
my_dict = dict()

In [23]:
bdong2hdong_df = pd.read_csv(
    "data/preproc_data/행정동_법정동_매퍼/by_intersection_n_pct/bdong2hdong_df.csv", dtype={"bdong": str, "hdong": str}
)

hdong2bdong_df = pd.read_csv(
    "data/preproc_data/행정동_법정동_매퍼/by_intersection_n_pct/hdong2bdong_df.csv", dtype={"bdong": str, "hdong": str}
)

In [24]:
bdong2hdong_df

         bdong     hdong
0     44131101  34011510
1     44131102  34011520
2     44131103  34011520
3     44131104  34011510
4     44131105  34011510
...        ...       ...
5862  29200175  24050519
5863  29200176  24050519
5864  29200177  24050519
5865  29200178  24050519
5866  29200202  24050630

[5867 rows x 2 columns]

In [25]:
with open("./data/preproc_data/행정동_법정동_매퍼/bdong_code_name_dict.json", "r") as f:
    bdong_code_name_dict = json.load(f)

with open("./data/preproc_data/행정동_법정동_매퍼/hdong_code_name_dict.json", "r") as f:
    hdong_code_name_dict = json.load(f)

In [26]:
bdong2hdong_df["bdong_name"] = bdong2hdong_df["bdong"].map(bdong_code_name_dict)
bdong2hdong_df["hdong_name"] = bdong2hdong_df["hdong"].map(hdong_code_name_dict)

In [27]:
bdong2hdong_df = bdong2hdong_df.loc[:,['hdong','hdong_name','bdong','bdong_name']]

In [30]:
bdong2hdong_df.sample(10)

         hdong       hdong_name     bdong        bdong_name
3083  35040590  전북특별자치도_정읍시_상교동  52180114   전북특별자치도_정읍시_신월동
1086  22030570    대구광역시_서구_비산5동  27170102      대구광역시_서구_비산동
386   26510310    울산광역시_울주군_서생면  31710310     울산광역시_울주군_서생면
2068  11190610  서울특별시_영등포구_양평1동  11560125  서울특별시_영등포구_양평동1가
2281  25020580     대전광역시_중구_대사동  30140110      대전광역시_중구_대사동
4015  37100550     경상북도_경산시_북부동  47290128      경상북도_경산시_갑제동
5194  31192610      경기도_용인시_신갈동  41463101       경기도_용인시_신갈동
120   34040530    충청남도_아산시_온양3동  44200113      충청남도_아산시_모종동
5115  31150740     경기도_시흥시_배곧1동  41390135       경기도_시흥시_배곧동
4025  37520310     경상북도_의성군_단촌면  47730310      경상북도_의성군_단촌면

In [32]:
def find_bdong_from_hdong(bdong2hdong_df, bdong):
    return set(bdong2hdong_df[bdong2hdong_df['bdong'] == bdong]['hdong_name'])

def find_hdong_from_bdong(bdong2hdong_df, bdong):
    return set(bdong2hdong_df[bdong2hdong_df['hdong'] == bdong]['bdong_name'])

{'서울특별시_종로구_내수동',
 '서울특별시_종로구_내자동',
 '서울특별시_종로구_당주동',
 '서울특별시_종로구_도렴동',
 '서울특별시_종로구_사직동',
 '서울특별시_종로구_신문로1가',
 '서울특별시_종로구_신문로2가',
 '서울특별시_종로구_적선동',
 '서울특별시_종로구_체부동',
 '서울특별시_종로구_통의동',
 '서울특별시_종로구_필운동'}

In [40]:
# 종로구 사직동(행정동으로 법정동 검색)
find_hdong_from_bdong(bdong2hdong_df,'11010530')

{'서울특별시_종로구_내수동',
 '서울특별시_종로구_내자동',
 '서울특별시_종로구_당주동',
 '서울특별시_종로구_도렴동',
 '서울특별시_종로구_사직동',
 '서울특별시_종로구_신문로1가',
 '서울특별시_종로구_신문로2가',
 '서울특별시_종로구_적선동',
 '서울특별시_종로구_체부동',
 '서울특별시_종로구_통의동',
 '서울특별시_종로구_필운동'}

In [39]:
# 관악구 신림동 (법정동으로 행정동 검색)
find_bdong_from_hdong(bdong2hdong_df,'11620102')

{'서울특별시_관악구_난곡동',
 '서울특별시_관악구_난향동',
 '서울특별시_관악구_대학동',
 '서울특별시_관악구_미성동',
 '서울특별시_관악구_삼성동',
 '서울특별시_관악구_서림동',
 '서울특별시_관악구_서원동',
 '서울특별시_관악구_신림동',
 '서울특별시_관악구_신사동',
 '서울특별시_관악구_신원동',
 '서울특별시_관악구_조원동'}