In [ ]:
import os
from glob import glob

import pandas as pd

In [ ]:
addr_paths = glob("./data/preproc_data/addr_*.csv")
subscribe_paths = glob("./data/preproc_data/subscribe_*.csv")
category_paths = glob("./data/preproc_data/category_*.csv")

In [ ]:
addr_df = pd.concat([pd.read_csv(file_path, index_col=0) for file_path in addr_paths], axis=0)
addr_df.to_csv("./data/final_data/addr.csv")

In [ ]:
subscribe_df = pd.concat([pd.read_csv(file_path, index_col=0) for file_path in subscribe_paths], axis=0)
subscribe_df.to_csv("./data/final_data/subscribe.csv")

In [ ]:
category_df = pd.concat([pd.read_csv(file_path, index_col=0) for file_path in category_paths], axis=0)
category_df.to_csv("./data/final_data/category.csv")

In [16]:
from pprint import pprint

In [20]:
display(addr_df.sample(5))
display(subscribe_df.sample(5))
display(category_df.sample(5))

        사업자등록번호   자료생성년월   우편번호         사업장지번상세주소               사업장도로명상세주소
356958   287810  2019-09  03087     서울특별시 종로구 동숭동            서울특별시 종로구 동숭길
487526   305821  2020-08  34054     대전광역시 유성구 전민동           대전광역시 유성구 유성대로
113772   402814  2022-09  54849  전라북도 전주시 덕진구 고랑동         전라북도 전주시 덕진구 여산로
418901   137816  2019-01  18583       경기도 화성시 장안면  경기도 화성시 장안면 포승장안로1120번길
385461   729870  2018-09  24202       강원도 춘천시 신북읍          강원도 춘천시 신북읍 용산길

        사업자등록번호   자료생성년월  가입자수   당월고지금액  신규취득자수  상실가입자수
112932   311811  2023-12     5  1465160       0       0
76244    224812  2018-12    16  4136960       4       0
499524   530880  2020-11     4   647080       2       0
145128   126827  2021-11     3   319300       0       0
57828    416814  2019-07     6   823280       0       0

        사업자등록번호   자료생성년월 사업장업종코드                 사업장업종코드명
250441   211887  2017-12  999999             BIZ_NO미존재사업장
146202   314819  2019-02  452104            배관 및 냉ㆍ난방 공사업
263138   196880  2024-05  312000       배전반 및 전기 자동제어반 제조업
160688   220883  2022-02  701103  주거용 건물 임대업(장기임대공동·단독주택)
457052   609815  2020-06  451200            기타 토목 시설물 건설업